<form>
<label for="firstName">FirstName:</label>
<input id="firstName" type="text" [formControl]="name">
<label for="LastName">LastName:</label>
<input id="LastName" type="text" [formControl]="LastName">
<label for="Email">Email:</label>
<input id="Email" type="text" [formControl]="Email">
<label for="Password">Password:</label>
<input id="Password" type="text" [formControl]="Password">
<label for="dateOfBirth">dateOfBirth:</label>
<input id="dateOfBirth" type="text" [formControl]="dateOfBirth">
<label for="gender">Gender:</label>
<select id="firstName" type="text" [formControl]="name">
<button type="button" (click)="addUser()">Add user</button>


    </form>
