<div class="tableDiv">
<table>
    <thead>
        <th>Id</th>
        <th> FirstName</th>
        <th> LastName</th>
        <th> Email</th>
        <th> DateOfBirth</th>
        <th> Gender</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of usersData ">
        <th>{{user.id}}</th>
        <td> {{user.firstName}}</td>
        <td> {{user.lastName}}</td>
        <td> {{user.email}}</td>
        <td> {{user.dateOfBirth}}</td>
        <td> {{user.gender}}</td>
        <td>
            <button id="deleteButton"> Edit</button>
            <button id="updateButton" (click)="deleteUser(user)">Delete</button>
        </td>
        </tr>
    </tbody>
</table>
</div>