button{
font-size: 14px;
padding: 2px;
margin: 2px;
}
#deleteButton{
    background-color: red; 
    border: 1px solid pink;
}
#updateButton{
    background-color: yellow;
    border: 1px solid pink;

}
table{
    border: 2px solid;
    width: 100%;
}
.tableDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
table td{
    text-align: center;
}