<p>user-list works!</p>
<table>
    <thead>
        <th>Id</th>
        <th> FirstName</th>
        <th> LastName</th>
        <th> Email</th>
        <th> Password</th>
        <th> DateOfBirth</th>
        <th> Gender</th>
    </thead>
    <tbody>
        <tr *ngFor="let row of usersData">
        <th>{{row.Id}}</th>
        <td> {{row.FirstName}}</td>
        <td> {{row.LastName}}</td>
        <td> {{row.Email}}</td>
        <td> {{row.Password}}</td>
        <td> {{row.DateOfBirth}}</td>
        <td> {{row.Gender}}</td>
        <td>
            <button>Edit</button>
            <button>Delete</button>
        </td>
        </tr>
    </tbody>
</table>